$white: #fff;
$off-white: #f2f2f2;
$black: #000;

$esa-charcoal: #414141;
$esa-green: #A0CF67;
$esa-teal: #72ccd2;
$esa-orange: #f9a134;

$dark-green: #03400A;
$charcoal: #3B3B3B;

$blue: #143470;
$light-blue: #00A1DF;