section.intro {
    .copy {
        @include tablet {
            grid-column: 2 / span 8;
        }

        @include desktop-small {
            grid-column: 5 / span 9;
        }
        
        h3 {
            color: $blue;
        }
    }

    .contact {
        margin-top: 2rem;
        padding: 1.5rem 2rem;
        background-color: $light-blue;
        display: inline-block;
        border-radius: 3px;

        p {
            color: $white;
            font-size: clamp(0.875rem, 1.2vw, 1rem);
            font-style: italic;

            a {
                color: $white;
            }
        }
    }


}