section.documents {
    padding: 3rem 0;

    @include desktop-small {
        padding: 3rem 0 6rem 0;
    }

    .documents-categories .section-header,
    .documents-list table thead {
        background: $blue;
        color: $white;
    }

    .documents-categories {
        border-radius: 5px;

        .section-header {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .categories-list {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .sticky-wrapper {
            position: relative;
            top: 0;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        .categories-list h5 {
            color: $blue;
        }
    }

    .documents-list {
        padding-top: 3rem;
        overflow: unset;

        @include desktop-small {
            padding-top: 0;
        }

        .file {
            &.subject-hide {
                display: none !important;
            }
        }

        .category {
            & + .category {
                .section-header {
                    margin-top: 2rem;

                    @include desktop-small {
                        margin-top: 5rem;
                    }
                }
            }
        }

        .section-header {
            padding-bottom: 1rem;

            &.header-hide,
            &.hide {
                display: none;
            }

            h3 {
                font-size: clamp(1.25rem, 1.5vw, 1.5rem);
                font-weight: bold;
                color: $blue;
            }
        }

        .file {
            background: $white;
            padding: 2rem;
            border-radius: 5px;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
            margin-bottom: 1rem;

            &-flex {
                display: flex;
                flex-wrap: wrap;
            }

            &.hide {
                display: none;
            }

            &.red {
                background: red;
                color: white;
            }

            .info {
                flex: 1;
                padding-right: 2rem;
            }

            .download {
                width: 100%;
                padding-top: 2rem;

                @include tablet {
                    padding-top: 0;
                    width: 10rem;
                    align-self: center;
                    display: flex;
                    justify-content: flex-end;
                }

                a {
                    display: inline-block;
                    background: $blue;
                    color: $white;
                    padding: 0.75rem 1rem 0.625rem 1rem;
                    border-radius: 4px;
                    font-size: 0.75rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                }
            }

            .title {
                font-weight: bold;

                a {
                    color: $blue;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .description {
                padding: 0.5rem 0;
                font-size: 0.8125rem;
                line-height: 1.125rem;
                max-width: 36rem;
            }

            .details,
            .meta {
                padding-top: 0.5rem;
                display: flex;
                font-size: 0.8125rem;
                flex-wrap: wrap;

                div {
                    width: 100%;

                    @include tablet-small {
                        width: auto;
                    }

                    & + div {
                        margin-top: 0.5rem;

                        @include tablet-small {
                            margin-top: 0;
                            margin-left: 1rem;
                        }
                    }
                }

                span {
                    font-weight: bold;
                }
            }
        }
    }
}
