section.filter {
    background: $blue;
    color: $white;

    .how-to {
        padding-bottom: 2rem;
        @include desktop-small {
            grid-column: 5 / span 7;
        }

        .trigger {
            display: flex;
            align-items: center;
            color: $white;

            span {
                display: block;
                padding-left: 0.5rem;
                font-size: 0.875rem;
                font-style: italic;
            }

            img {
                max-width: 1.25rem;
                width: 100%;
            }
        }
    }

    form {
        input[type="search"] {
            background: $white;
            color: $blue;

            @include placeholder {
                color: $blue;
            }
        }

        .filter-dropdowns {
            padding-top: 2rem;
            display: grid;
            gap: 2rem;
            
            @include tablet {
                grid-template-columns: repeat(2, 1fr);
            }

            .dropdown {

                label {
                    font-size: 0.875rem;
                }

                select {
                    width: 100%;
                    height: 2.25rem;
                    padding: 0 0.5rem
                }
            }
            

        }

        .clear {
            padding-top: 1rem;

            &-btn {
                display: inline-block;
                color: $white;
                font-size: 0.75rem;
                text-decoration: underline;                
            }
        }
    }


    .how-to-modal {
        display: none;
        .info {
            background: $white;
            color: $blue;
            padding: 3rem;
            max-width: 640px;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

            @include tablet {
                padding: 4rem;
            }

            h3 {
                font-weight: bold;
                font-size: clamp(1.125rem, 1.4vw, 1.375rem);
            }

            p, ul, ol {
                margin-top: 1.5rem;
                font-size: clamp(0.8125rem, 1vw, 0.9375rem);
                line-height: 1.5em;
            }

            ul { 
                list-style-type: disc;
            }

            ol {
                list-style-type: decimal;
            }

            ul, ol {
                padding-left: 2rem;

                li {
                    & + li {
                        margin-top: 0.5rem;
                    }
                }
            }

            a {
                color: $blue;
                text-decoration: underline;
            }
        }
    }
}