.site-content {
    min-height: calc(80vh - 2rem)
}

.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.5);

	&-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		padding: 1.25rem;

		@include tablet {
			padding: 6rem 1.25rem;
		}


        @media screen and (max-height: 800px) {
            align-items: flex-start;
            padding-top: 2rem;
            overflow-y: scroll;
        }
    }

	.close {
		background: $white;
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		position: absolute;
		right: -0.75rem;
		top: -0.75rem;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
		border: 2px solid $blue;
		z-index: 10000;

        &:hover {
            cursor: pointer;
        }

		a {
			width: 1rem;
			display: block;

			&:before,
			&:after {
				background-color: $blue;
				content: '';
				display: block;
				height: 2px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				transform: translateY(11px) rotate(45deg);
				margin-bottom: 20px;
			}

			&:after {
				transform: translateY(-11px) rotate(-45deg);					
			}
		}


	}



}

body.how-to-overlay-open {
    overflow-y: hidden;
}