.log {
    padding: 3rem 0 1rem 0;

    .info {
        @include desktop-small {
            grid-column: 5 / span 7;
        }
    }
    

    .headline {
        padding-bottom: 1rem;

        h5 {
            text-transform: uppercase;
            font-weight: bold;
            color: $blue;
            letter-spacing: 0.025em;
        }
    }

    ul {
        list-style-type: disc;
        padding-left: 1.5rem;

        li {
            margin-bottom: 2rem;
            font-size: 0.875rem;
            line-height: 1.5em;
        }

        em {
            display: block;
            font-weight: bold;
            font-style: normal;
        }

        a {
            display: inline-block;
            color: $blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}